{% if site.data.profile.teaching %}
<div id="teaching" class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-chalkboard-teacher"></i> Teaching
    </h6>
    <div class="p-3">
        <ul class="list-unstyled small mb-0">
            {% for item in site.data.profile.teaching %}
            <li class="mb-2">
                <div>{{ item.name }}</div>
                <div class="text-muted">{{ item.code }} &middot; {{ item.date }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
